[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool/
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
