[build-system]
requires = [
    "setuptools>=61",
    "cmake>=3.22",
    "ninja; sys_platform != 'win32' and platform_machine != 'arm64'",
]
build-backend = "setuptools.build_meta"

[project]
name = "ale-py"
description = "The Arcade Learning Environment (ALE) - a platform for AI research."
readme = "README.md"
requires-python = ">=3.9"
license = {text = "GPLv2"}
keywords = ["reinforcement-learning", "arcade-learning-environment", "atari"]
authors = [
    {name = "Marc G. Bellemare"},
    {name = "Yavar Naddaf"},
    {name = "Joel Veness"},
    {name = "Michael Bowling"},
]
maintainers = [
    {name = "Farama Foundation", email = "contact@farama.org"},
    {name = "Jesse Farebrother", email = "jfarebro@cs.mcgill.ca"},
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "numpy>1.20",
    "importlib-metadata>=4.10.0; python_version < '3.10'",
    "importlib-resources; python_version < '3.9'",
    "typing-extensions; python_version < '3.11'"
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
    "pytest>=7.0",
    "gymnasium>=1.0.0",
]

[project.urls]
homepage = "https://github.com/Farama-Foundation/Arcade-Learning-Environment"
documentation = "https://github.com/Farama-Foundation/Arcade-Learning-Environment/tree/master/docs"
changelog = "https://github.com/Farama-Foundation/Arcade-Learning-Environment/blob/master/CHANGELOG.md"

[tool.setuptools]
packages = [
    "ale_py",
    "ale_py.roms",
]
package-dir = {ale_py = "src/ale/python"}
package-data = {"ale_py" = ["py.typed", "*.pyi", "**/*.pyi"], "ale_py.roms" = ["md5.json", "*.bin"]}

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q --ignore vcpkg --ignore build"
testpaths = ["tests"]
norecursedirs = ["vcpkg", "build"]

[tool.cibuildwheel]
# Skip 32-bit wheels, PyPy & musllinux
skip = ["*-win32", "*i686", "pp*", "*-musllinux*"]

build-frontend = "build"

manylinux-x86_64-image = "manylinux-vcpkg:latest"

[tool.cibuildwheel.linux]
environment-pass = ["GITHUB_REF"]

# macOS x86-64
[[tool.cibuildwheel.overrides]]
select = "*-macosx_x86_64"
environment = { PIP_ONLY_BINARY = "numpy", VCPKG_DEFAULT_TRIPLET = "x64-osx-mixed", VCPKG_FEATURE_FLAGS = "-compilertracking", MACOSX_DEPLOYMENT_TARGET = "10.15" }

# macOS arm64
[[tool.cibuildwheel.overrides]]
select = "*-macosx_arm64"
environment = { PIP_ONLY_BINARY = "numpy", VCPKG_DEFAULT_TRIPLET = "arm64-osx-mixed", VCPKG_FEATURE_FLAGS = "-compilertracking", MACOSX_DEPLOYMENT_TARGET = "10.15" }

# Windows x64
[[tool.cibuildwheel.overrides]]
select = "*-win_amd64"
environment = { PIP_ONLY_BINARY = "numpy", VCPKG_DEFAULT_TRIPLET = "x64-windows", VCPKG_FEATURE_FLAGS = "-compilertracking" }

# Linux x86-64 (manylinux)
[[tool.cibuildwheel.overrides]]
select = "*-manylinux_x86_64"
environment = { PIP_ONLY_BINARY = "numpy", VCPKG_DEFAULT_TRIPLET = "x64-linux-mixed", VCPKG_FEATURE_FLAGS = "-compilertracking" }
